database_server: 127.0.0.1
database_name: sml
database_user: postgres
database_password: password
http_ip: 0.0.0.0
http_port: 8000
debug: true
server_pem: server.pem
server_key: server.key
temp_dir: "/data/dev/work/sysmon-logger-server/source/src/info-assure/temp"
export_dir: "/data/dev/work/sysmon-logger-server/source/src/info-assure/summary"
max_data_age_days: 0